# Ignore the tools directory
tools/

# Ignore the backups directory
backups/

# Ignore the create Tree directory
createTreeTheEasyWay/

# Ignore the R_libs directory
R_libs/

# Ignore old version of scripts
scripts_OLD_VERSION/

# Ignore Dockerfile in the repo's home directory; it is shown in the pema_docker_image directory
/Dockerfile

# Ignore .swp files, temporal files from VIM and nano editors
.swp
