# Ignore the tools directory
tools/

# Ignore the backups directory
backups/

# Ignore old version of scripts
scripts_OLD_VERSION/

# Ignore Dockerfile in the repo's home directory; it is shown in the pema_docker_image directory
/Dockerfile

# Ignore all checkpoint files
*.chp

# Ignore all fastq.gz files
*.fastq.gz

# Ignore all sanity checks outputs
pema_docker_image/sanity_check/16S/
pema_docker_image/sanity_check/18S/
pema_docker_image/sanity_check/COI/
pema_docker_image/sanity_check/ITS/
pema_docker_image/sanity_check/12S/
