# Ignore the tools directory
tools/

# Ignore the backups directory
backups/

# Ignore old version of scripts
scripts_OLD_VERSION/

# Ignore Dockerfile in the repo's home directory; it is shown in the pema_docker_image directory
/Dockerfile

# Ignore all checkpoint files
*.chp

# Ignore all fastq.gz files
*.fastq.gz

# Ignore all sanity checks outputs
sanity_check/16S/TEST*/
sanity_check/18S/TEST*/
sanity_check/COI/TEST*/
sanity_check/ITS/TEST*/
sanity_check/12S/TEST*/
sanity_check/non_ena_data/TEST.*/

# Ignore any .sif file
*.sif
